<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .main h1{
            color: rgb(14, 14, 119);
            font-weight: inherit;
        }
        .main h1:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .main h1:active{
            color: rgb(176, 176, 255);
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Click here!</h1>
    </div>
</body>
</html>