<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .center{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .center h2{
        color: rgb(179, 7, 7);
        font-weight: lighter;
        cursor: pointer;
    }
    .center h2:hover{
        text-decoration: underline;
    }
    .center h2:active{
        color: rgb(214, 166, 166);
    }
</style>

</head>
<body>

    <div class="center">
        <h2>Click Here to record data</h2>
    </div>
    
</body>
</html>